
html, body, #root, .app{
  height: 100%;
}
*{
  margin: 0;
}
:root{
  --app-bg: lightblue;
  --btn-bg: #222;
  --btn-color: #fff;
}
.dark{
  --app-bg: black;
  --btn-bg: white;
  --btn-color: #222;
}

.app{
  background-color: var(--app-bg);
}

button{
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

.dark h1{
  color: rgb(255, 255, 255, 0.7);
}